@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

:root {
  --background: #F5F3EF;
  --foreground: #111111;
}

.dark {
  --background: #05070D;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
